In [40]:
import pandas as pd 
import numpy as np

In [41]:
df1 = pd.read_csv('lgbm_kfold_v2.csv')
df2 = pd.read_csv('xgb_kfold_method2_v2.csv')
df3 = pd.read_csv('catb_kfold_v2.csv')

col ='UnitPrice'

sub_df = pd.DataFrame()
sub_df['UnitPrice'] = np.round((0.6*df1[col] + 0.3*df2[col] +0.1*df3[col]),2)*100
sub_df['UnitPrice'] = sub_df['UnitPrice'].astype('int')
sub_df.head()

   UnitPrice
0        337
1        310
2        211
3        356
4        433

In [42]:
val =[]
for i in sub_df.UnitPrice:
    rem = i%10
    num = i//10
    if rem==0:
        val.append(num*0.1)
    elif rem==5:
        val.append(i/100)
    elif rem in range(1,5):
        if rem >=3:
            val.append((num*10+5)*0.01)
        else :
            val.append(num*0.01)
    elif rem in range(6,10):
        if rem >=8:
            val.append((num+1)*0.1)
        else :
            val.append(num*0.1)

In [43]:
sub_df['UnitPrice'] =val
sub_df.head()

   UnitPrice
0       3.30
1       3.10
2       0.21
3       3.50
4       4.35

In [44]:
sub_df.to_csv('ensemble_round.csv',index=False)